.input-item {
	position: relative;
	clear: both;
	.left {
		position: absolute;
		height: 100%;
		padding-left: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 999;
		.title {
			font-size: 32px;
			color: #333;
		}
		.required {
			color: red;
			margin-right: 10px;
		}
		.img {
			width: 42px;
			height: 56px;
			margin-right: 20px;
		}
	}
	.iconLeft {
		width: 100px;
		@extend .left;
	}
	.titleLeft {
		width: 188px;
		@extend .left;
	}
	.left-box {
		float: left;
		width: 188px;
		opacity: 0;
	}
	.left-box-2 {
		float: left;
		width: 100px;
		opacity: 0;
	}
	.right-box {
		float: right;
		width: 188px;
		opacity: 0;
	}
	.right {
		position: absolute;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 999;
		right: 0;
		height: 100%;
	}
}
.border {
	border-bottom: 2px solid #ccc;
}
.input-item:after {
	content: '';
	display: block;
	clear: both;
}