.date-picker-item {
	border-bottom: 2px solid #ccc;
	.picker {
		padding: 24px;
		display: flex;
		flex-direction: row;
		align-items: center;
		.left {
			width: 164px;
			.required {
				color: red;
				margin-right: 10px;
			}
			.title {
				color: #333;
				font-size: 32px;
			}
		}
		
		.value {
			flex: 1;
			font-size: 32px;
			color: #666;
		}
	}
}